#  Portfolio Management

#### Negative correlation is a statistical measure used to describe the relationship between two variables. When two variables are negatively correlated, one variable decreases as the other increases, and vice versa. Negative correlations between two investments are used in risk management to diversify, or mitigate, the risk associated with a portfolio.

- Correlations are negative when the prices of the two investments move in different directions.
- Risk management is the process of evaluating and mitigating the risks of a portfolio.
- Diversifying the portfolio with non-correlated assets can mitigate volatility and risk.
- Buying a put option is a tactic used to hedge stocks or portfolios because the put is negatively correlated with the underlying instrument that it is derived from.

Reference: [Investopedia](https://www.investopedia.com/ask/answers/041315/how-are-negative-correlations-used-risk-management.asp)

https://plot.ly/scala/line-and-scatter/

In [1]:
import org.apache.spark.sql.SparkSession

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.0.191:4040
SparkContext available as 'sc' (version = 2.4.4, master = local[*], app id = local-1575625654153)
SparkSession available as 'spark'

import org.apache.spark.sql.SparkSession

In [2]:
val spark = SparkSession
         .builder()
         .master("local[*]")
         .appName("Porfolio-Mangement-Risk-Analysis")
         .getOrCreate()

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@50a79ec

In [4]:
var df_ford = spark.read.format("csv").option("header", "true").load("./data/F.csv")
df_ford.show()

+----------+-----+---------+-----+-----+---------+--------+
| Timestamp| Open|     High|  Low|Close|Adj Close|  Volume|
+----------+-----+---------+-----+-----+---------+--------+
|2014-12-04|   16|16.030001|15.75|15.81|11.765979|23264600|
|2014-12-05| 15.9|    15.94|15.63| 15.7|11.684116|29700300|
|2014-12-08|15.68|    15.75|15.38|15.43| 11.48318|25519100|
|2014-12-09|15.05|    15.43|14.75|15.43| 11.48318|23382800|
|2014-12-10|15.43|    15.43|15.15|15.16|11.282244|24615500|
|2014-12-11|15.17|    15.49|15.03|15.28|11.371547|30359300|
|2014-12-12| 15.2|    15.21|14.99|14.99|11.155725|22684500|
|2014-12-15|14.86|    14.92|14.27|14.28|10.627337|47476400|
|2014-12-16|14.19|    14.46|13.93|14.09|10.485938|43879300|
|2014-12-17|14.17|    14.52|14.11|14.45|10.753853|29504200|
|2014-12-18| 14.7|    14.81|14.51|14.81| 11.02177|35542500|
|2014-12-19|14.79|    15.05|14.74|15.03|11.185496|40843500|
|2014-12-22|15.08|    15.24|   15|15.22|11.326896|25366800|
|2014-12-23|15.21|    15.45|15.21|15.33|11.408759|20828700|
|2014-12-24|15.37|    15.38|15.25| 15.3|11.386431| 7128800|
|2014-12-26| 15.3|    15.49|15.26|15.45|11.498062|11666400|
|2014-12-29|15.37|    15.68|15.34|15.52|11.550158|19137500|
|2014-12-30|15.48|     15.6|15.45| 15.5|11.535276|14795000|
|2014-12-31|15.51|    15.64|15.47| 15.5|11.535276|17930200|
|2015-01-02|15.59|    15.65|15.18|15.36|11.431086|24777900|
+----------+-----+---------+-----+-----+---------+--------+
only showing top 20 rows

df_ford: org.apache.spark.sql.DataFrame = [Timestamp: string, Open: string ... 5 more fields]

In [5]:
var df_gm = spark.read.format("csv").option("header", "true").load("./data/GM.csv")
df_gm.show()

+----------+---------+---------+---------+---------+---------+--------+
|      Date|     Open|     High|      Low|    Close|Adj Close|  Volume|
+----------+---------+---------+---------+---------+---------+--------+
|2014-12-04|    33.66|33.669998|33.040001|    33.09|26.576113|11632800|
|2014-12-05|    33.23|    34.09|33.169998|    33.93|27.250759|17730800|
|2014-12-08|    33.52|33.560001|32.610001|    32.68|26.480963|16125800|
|2014-12-09|32.279999|32.869999|32.169998|32.810001|26.586304|11147100|
|2014-12-10|32.720001|32.849998|31.870001|31.969999| 25.90564|11583500|
|2014-12-11|32.139999|32.689999|    31.99|32.189999|26.083912|13282600|
|2014-12-12|31.940001|    32.16|    31.57|    31.57|25.581514|11239100|
|2014-12-15|31.700001|    31.77|    30.98|       31|25.119638|16084000|
|2014-12-16|30.620001|31.059999|30.299999|    30.73|24.900854|24294000|
|2014-12-17|30.809999|31.299999|30.639999|    31.15|25.241186|13281800|
|2014-12-18|31.639999|    31.75|    31.17|    31.75|25.727373|14112000|
|2014-12-19|    31.76|    32.93|    31.75|32.810001|26.586304|18990900|
|2014-12-22|32.630001|33.310001|32.619999|    33.23|26.926632|13243700|
|2014-12-23|    33.48|33.700001|33.380001|33.560001|27.194038| 8469500|
|2014-12-24|33.529999|    33.59|33.240002|    33.43|27.088696| 4496000|
|2014-12-26|33.549999|33.849998|33.450001|    33.73|27.331781| 6673200|
|2014-12-29|33.869999|34.830002|33.790001|34.599998|28.036757|16654300|
|2014-12-30|34.560001|35.200001|    34.41|    35.09|28.433811|14966900|
|2014-12-31|35.240002|35.450001|34.889999|    34.91|28.287951|12004200|
|2015-01-02|    35.27|35.310001|    34.41|    34.84|28.231228| 9756700|
+----------+---------+---------+---------+---------+---------+--------+
only showing top 20 rows

df_gm: org.apache.spark.sql.DataFrame = [Date: string, Open: string ... 5 more fields]

In [6]:
val df_ford_open = df_ford.select("Timestamp","Open").withColumnRenamed("Open","Ford_Open")
df_ford_open.show()

+----------+---------+
| Timestamp|Ford_Open|
+----------+---------+
|2014-12-04|       16|
|2014-12-05|     15.9|
|2014-12-08|    15.68|
|2014-12-09|    15.05|
|2014-12-10|    15.43|
|2014-12-11|    15.17|
|2014-12-12|     15.2|
|2014-12-15|    14.86|
|2014-12-16|    14.19|
|2014-12-17|    14.17|
|2014-12-18|     14.7|
|2014-12-19|    14.79|
|2014-12-22|    15.08|
|2014-12-23|    15.21|
|2014-12-24|    15.37|
|2014-12-26|     15.3|
|2014-12-29|    15.37|
|2014-12-30|    15.48|
|2014-12-31|    15.51|
|2015-01-02|    15.59|
+----------+---------+
only showing top 20 rows

df_ford_open: org.apache.spark.sql.DataFrame = [Timestamp: string, Ford_Open: string]

In [7]:
val df_gm_open = df_gm.select("Date","Open").withColumnRenamed("Open","GM_Open")
df_gm_open.show()

+----------+---------+
|      Date|  GM_Open|
+----------+---------+
|2014-12-04|    33.66|
|2014-12-05|    33.23|
|2014-12-08|    33.52|
|2014-12-09|32.279999|
|2014-12-10|32.720001|
|2014-12-11|32.139999|
|2014-12-12|31.940001|
|2014-12-15|31.700001|
|2014-12-16|30.620001|
|2014-12-17|30.809999|
|2014-12-18|31.639999|
|2014-12-19|    31.76|
|2014-12-22|32.630001|
|2014-12-23|    33.48|
|2014-12-24|33.529999|
|2014-12-26|33.549999|
|2014-12-29|33.869999|
|2014-12-30|34.560001|
|2014-12-31|35.240002|
|2015-01-02|    35.27|
+----------+---------+
only showing top 20 rows

df_gm_open: org.apache.spark.sql.DataFrame = [Date: string, GM_Open: string]

In [10]:
val df = df_ford_open.as("df1").join(df_gm_open.as("df2"), df_ford_open("Timestamp") === df_gm_open("Date")).select("df1.Timestamp","df1.Ford_Open", "df2.GM_Open")
df.show()

+----------+---------+---------+
| Timestamp|Ford_Open|  GM_Open|
+----------+---------+---------+
|2014-12-04|       16|    33.66|
|2014-12-05|     15.9|    33.23|
|2014-12-08|    15.68|    33.52|
|2014-12-09|    15.05|32.279999|
|2014-12-10|    15.43|32.720001|
|2014-12-11|    15.17|32.139999|
|2014-12-12|     15.2|31.940001|
|2014-12-15|    14.86|31.700001|
|2014-12-16|    14.19|30.620001|
|2014-12-17|    14.17|30.809999|
|2014-12-18|     14.7|31.639999|
|2014-12-19|    14.79|    31.76|
|2014-12-22|    15.08|32.630001|
|2014-12-23|    15.21|    33.48|
|2014-12-24|    15.37|33.529999|
|2014-12-26|     15.3|33.549999|
|2014-12-29|    15.37|33.869999|
|2014-12-30|    15.48|34.560001|
|2014-12-31|    15.51|35.240002|
|2015-01-02|    15.59|    35.27|
+----------+---------+---------+
only showing top 20 rows

df: org.apache.spark.sql.DataFrame = [Timestamp: string, Ford_Open: string ... 1 more field]

In [15]:
import org.apache.spark.sql.functions.corr

import org.apache.spark.sql.functions.corr

In [20]:
df.select(corr("Ford_Open","GM_Open")).show()

+------------------------+
|corr(Ford_Open, GM_Open)|
+------------------------+
|    -0.23879596656324004|
+------------------------+